<%= form_for(@geosmap) do |f| %>
  <% if @geosmap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geosmap.errors.count, "error") %> prohibited this geosmap from being saved:</h2>

      <ul>
      <% @geosmap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @geosmap.name == "_default"+current_user.email%>
  <div class="field">
    <%= f.label :name %><br />
    <%=  @geosmap.name %>
  </div>
   <% else %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>    
   <% end %>
  <div class="field">
    <%= f.label :centerlat %>
    <%= f.text_field :centerlat %>
  </div>
  <div class="field">
    <%= f.label :centerlng %>
    <%= f.text_field :centerlng %>
  </div>
    <div class="field">
    <%= f.label :zoom %>(0-21)
    <%= f.text_field :zoom %>
  </div>
  <div class="field">
    <%= f.label :milflag %>
    <%= select "geosmap",:milflag,{"False" => "false", "True" => "true"}%>
  </div>

  <div class="field">
    <%= f.label :maptype %>
    <%= select "geosmap",:maptype,{"ROADMAP" => "ROADMAP", "HYBRID" => "HYBRID", "TERRAIN" => "TERRAIN", "SATELLITE" => "SATELLITE"}%>
  </div>
  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>
