<h1>Listing aircraft_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Country</th>
    <th>Image</th>
    <th></th>
  </tr>

<% @aircraft_classes.each do |aircraft_class| %>
  <tr>
    <td><%= aircraft_class.name %></td>
    <td><%= aircraft_class.aircrafttype %></td>
    <td><%= aircraft_class.country %></td>
    <td><%= aircraft_class.image %></td>
    <td><%= link_to 'Show', aircraft_class %></td>
    <td><%= link_to 'Edit', edit_aircraft_class_path(aircraft_class) %></td>
    <td><%= link_to 'Destroy', aircraft_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aircraft class', new_aircraft_class_path %>
