<%= form_for(@seasurf_function) do |f| %>
  <% if @seasurf_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seasurf_function.errors.count, "error") %> prohibited this seasurf_function from being saved:</h2>

      <ul>
      <% @seasurf_function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
