<%= div_for user do %>
<h3>
   	<%= link_to user.name, user %> 
   	<span class='actions'> 		
    <%= link_to "Send a Message | ", users_path %>
   	<%= link_to "Request Connection | ", users_path %>
   	<%= link_to "Edit Account ", edit_user_path(current_user) %>
        </span>
   	
   	
 </h3>
 <%= simple_format "Email: " + user.email %>    
 <% end %>