<h1>Listing ship_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Country</th>
    <th>Image</th>
    <th></th>
  </tr>

<% @ship_classes.each do |ship_class| %>
  <tr>
    <td><%= ship_class.name %></td>
    <td><%= ship_class.shiptype %></td>
    <td><%= ship_class.country %></td>
    <td><%= ship_class.image %></td>
    <td><%= link_to 'Show', ship_class %></td>
    <td><%= link_to 'Edit', edit_ship_class_path(ship_class) %></td>
    <td><%= link_to 'Destroy', ship_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ship class', new_ship_class_path %>
