<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ship_class.name %>
</p>

<p>
  <b>Type:</b>
  <%= @ship_class.shiptype %>
</p>

<p>
  <b>Country:</b>
  <%= @ship_class.country %>
</p>

<p>
  <b>Image:</b>
  <%= @ship_class.image %>
</p>

<p>
  <b>Observationair:</b>
  <%= @ship_class.observationair %>
</p>

<p>
  <b>Observationsurf:</b>
  <%= @ship_class.observationsurf %>
</p>

<p>
  <b>Observationunders:</b>
  <%= @ship_class.observationunders %>
</p>

<p>
  <b>Fireair:</b>
  <%= @ship_class.fireair %>
</p>

<p>
  <b>Fireland:</b>
  <%= @ship_class.fireland %>
</p>

<p>
  <b>Firesurf:</b>
  <%= @ship_class.firesurf %>
</p>

<p>
  <b>Fireunder:</b>
  <%= @ship_class.fireunder %>
</p>

<p>
  <b>Maxspeed:</b>
  <%= @ship_class.maxspeed %>
</p>

<p>
  <b>Cruisespeed:</b>
  <%= @ship_class.cruisespeed %>
</p>

<p>
  <b>Crew:</b>
  <%= @ship_class.crew %>
</p>

<p>
  <b>Function:</b>
  <%= @ship_class.function %>
</p>

<p>
  <b>Note:</b>
  <%= @ship_class.note %>
</p>


<%= link_to 'Edit', edit_ship_class_path(@ship_class) %> |
<%= link_to 'Back', ship_classes_path %>
