<h1>Listing units</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cp</th>
    <th>Weaponrange</th>
    <th>Description</th>
    <th>Friendicon</th>
    <th>Neutralicon</th>
    <th>Enemyicon</th>
    <th>Unknownicon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.cp %></td>
    <td><%= unit.weaponrange %></td>
    <td><%= unit.description %></td>
    <td><%= unit.friendicon %></td>
    <td><%= unit.neutralicon %></td>
    <td><%= unit.enemyicon %></td>
    <td><%= unit.unknownicon %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
