<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Cp:</b>
  <%= @unit.cp %>
</p>

<p>
  <b>Weaponrange:</b>
  <%= @unit.weaponrange %>
</p>

<p>
  <b>Description:</b>
  <%= @unit.description %>
</p>

<p>
  <b>Friendicon:</b>
  <%= @unit.friendicon %>
</p>

<p>
  <b>Neutralicon:</b>
  <%= @unit.neutralicon %>
</p>

<p>
  <b>Enemyicon:</b>
  <%= @unit.enemyicon %>
</p>

<p>
  <b>Unknownicon:</b>
  <%= @unit.unknownicon %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
