<h1>Listing helo_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Country</th>
    <th>Image</th>
    <th>Observationair</th>
    <th>Observationsurf</th>
    <th>Observationunder</th>
    <th>Fireair</th>
    <th>Fireland</th>
    <th>Firesurf</th>
    <th>Fireunder</th>
    <th>Maxspeed</th>
    <th>Cruisespeed</th>
    <th>Crew</th>
    <th>Function</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @helo_classes.each do |helo_class| %>
  <tr>
    <td><%= helo_class.name %></td>
    <td><%= helo_class.type %></td>
    <td><%= helo_class.country %></td>
    <td><%= helo_class.image %></td>
    <td><%= helo_class.observationair %></td>
    <td><%= helo_class.observationsurf %></td>
    <td><%= helo_class.observationunder %></td>
    <td><%= helo_class.fireair %></td>
    <td><%= helo_class.fireland %></td>
    <td><%= helo_class.firesurf %></td>
    <td><%= helo_class.fireunder %></td>
    <td><%= helo_class.maxspeed %></td>
    <td><%= helo_class.cruisespeed %></td>
    <td><%= helo_class.crew %></td>
    <td><%= helo_class.function %></td>
    <td><%= helo_class.note %></td>
    <td><%= link_to 'Show', helo_class %></td>
    <td><%= link_to 'Edit', edit_helo_class_path(helo_class) %></td>
    <td><%= link_to 'Destroy', helo_class, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Helo class', new_helo_class_path %>
