<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sub_class.name %>
</p>

<p>
  <b>Type:</b>
  <%= @sub_class.type %>
</p>

<p>
  <b>Country:</b>
  <%= @sub_class.country %>
</p>

<p>
  <b>Image:</b>
  <%= @sub_class.image %>
</p>

<p>
  <b>Observationair:</b>
  <%= @sub_class.observationair %>
</p>

<p>
  <b>Observationsurf:</b>
  <%= @sub_class.observationsurf %>
</p>

<p>
  <b>Observationunder:</b>
  <%= @sub_class.observationunder %>
</p>

<p>
  <b>Fireair:</b>
  <%= @sub_class.fireair %>
</p>

<p>
  <b>Fireland:</b>
  <%= @sub_class.fireland %>
</p>

<p>
  <b>Firesurf:</b>
  <%= @sub_class.firesurf %>
</p>

<p>
  <b>Fireunder:</b>
  <%= @sub_class.fireunder %>
</p>

<p>
  <b>Maxspeed:</b>
  <%= @sub_class.maxspeed %>
</p>

<p>
  <b>Cruisespeed:</b>
  <%= @sub_class.cruisespeed %>
</p>

<p>
  <b>Crew:</b>
  <%= @sub_class.crew %>
</p>

<p>
  <b>Function:</b>
  <%= @sub_class.function %>
</p>

<p>
  <b>Note:</b>
  <%= @sub_class.note %>
</p>


<%= link_to 'Edit', edit_sub_class_path(@sub_class) %> |
<%= link_to 'Back', sub_classes_path %>
