<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>GeosBook</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=panoramio,drawing,places,geometry">
  </script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!--   <%= javascript_include_tag 'googleearth','jquery-1.6.4', 'rails', 'global','map_application' %> -->
 <%= javascript_include_tag 'jquery-1.6.4', 'rails', 'global','map_application' %> 

  <%= csrf_meta_tag %>

<!--
	
  <script type="text/javascript">
 google.load('earth','1'); 	
  </script>

--> 
</head>
<body id="body">
	<div id="header">
		<h1> <%= link_to "GeosBook", root_path %></h1>
		<div id="user_bar">
			<% if logged_in? %>
			  <%= current_user.name + "  "%> |
              <select name="models" ONCHANGE="location = this.options[this.selectedIndex].value;">
              <option value="/">Platforms</option>
              <option value="/ship_classes">Ships</option>
              <option value="/aircraft_classes">Aircrafts</option>
              <option value="/sub_classes">Submarines</option>
              <option value="/vehicle_models">Vehicles</option>
              </select>
  			  <%= link_to "All Users", users_path %> |
			  <%= link_to "Select Map", geosmaps_path %> |
			  <%= link_to "New Map", new_geosmap_path %> |
			  <%= link_to "New Article", new_article_path %> |
			  <% if current_user.email != "geosbook@gmail.com" %>
			     <%= link_to "Edit Account", edit_user_path(current_user)%> |
			  <% end %>
			  <%= link_to "Logout", logout_path %>
			<% else %>
			  <%= link_to "Registration", new_user_path %> |
			  <%= link_to "Login", login_path %>

			<% end %>  
		</div>
		<%= content_tag :p, notice, :class=> 'notice' if notice.present?%>
		<%= content_tag :p, alert, :class=> 'alert' if alert.present?%>
	</div>
	<div id="main">
       <div id="map-wrapper">
         <div id="map_canvas"></div>
		<%= yield %>
           </div> 
       <div id="sidebar">
     </div>

    </div>
<!--   <div id="footer">
    	An experimental site built with RubyOnRails & GoogleMaps
    </div>  -->    
</body>
</html>
